@import '../../index.scss';

.user__profile__container,
.user__profile__container__stats,
.user__profile__container__stats > p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  gap: 16px;
}

.user__profile__container {
  width: 100%;
  height: 100%;
  gap: 24px;
  padding: 16px 8px;
}

.user__profile__container > a {
  color: $primary;
  font-weight: 700;
  font-size: 24px;
  text-decoration: underline;
}

.user__profile__container > img {
  width: 124px;
  height: auto;
  border-radius: 50%;
  border: 1px solid $border-color-primary;
}

.user__profile__container__stats {
  gap: 16px;
  justify-content: center;
  flex-flow: row nowrap;
  width: 100%;
}
